name: GolangCI-Lint
on: [push, pull_request]
permissions:
  contents: read
jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.25
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
          check-latest: true
        id: go
      - name: Check out code
        uses: actions/checkout@v5
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.1
          args: -c .golangci.yml -v
